@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import './variables';
:root{
    font-size: 62.5%;
}
html{
    
    font-family: "Figtree", sans-serif;
    background-color: $yellow;
    color: $black
}

body{
    font-size: $font-size;
    font-weight: $font-regular;
    min-height: 100vh;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
