//Screen witdh
$mobile-width: 375px;
$desktop-width: 1440px;

//Colors
//Primary
$yellow: hsl(47,88%,63%);
//Neutral
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);

//Typography
$font-size: 1.6em;
$font-regular: 500;
$font-bold: 800;